<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Wowo Nongji</display-name>
  <description>Online to Offline Agricultural Machinery Trading Platform</description>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:application-config.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- 编码 filter start-->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <!-- 编码 filter end-->

  <!-- 日志filter start -->
  <filter>
    <filter-name>loggerFilter</filter-name>
    <filter-class>cn.edu.hit.nongji.filter.LoggerFilter</filter-class>
    <init-param>
      <param-name>app</param-name>
      <param-value>nongji</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loggerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 日志filter end-->

  <!-- 身份验证 start-->
  <filter>
    <filter-name>authTokenFilter</filter-name>
    <filter-class>cn.edu.hit.nongji.filter.AuthTokenFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>
        /user/login
        /user/login.do
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authTokenFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <!-- 身份验证 end -->

  <!-- Spring Session 引入 -->
  <filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/test/*</url-pattern>
  </filter-mapping>
  <!-- Spring Session filter end-->

  <!-- 总的调度 -->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:mvc-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>throwExceptionIfNoHandlerFound</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <!-- 调度结束 -->
</web-app>
